!!! 5
%html
  %head
    %title= "Stock Portfolio"
    %link{href: "/vendor/bootstrap-3.3.2-dist/css/bootstrap.css", media: "screen", rel: "stylesheet"}
    %link{href: "/css/style.css", media: "screen", rel: "stylesheet"}
    %script{src: "/vendor/bootstrap-3.3.2-dist/js/bootstrap.min.js"}
    %script{src: "/js/new_file.js"}
  %body
    %h1 Stock Portfolio